#Sensor
sensorPath=/sys/bus/w1/devices/28-3c01a816ee9c/w1_slave
measureInterval=360

#Backup
backupActive=yes
backupDirectory=/media/martin92/MARTIN64/temperature/
backupHour=01

#Plot
plotData=yes
dpi=600
plotScriptPath=/home/martin92/C++/tempsensor/plotData.py

#Data
dataLocation=/home/martin92/C++/tempsensor/data/
